* {
    margin: 0;
    padding: 0;
}
/*Carousel*/
img {
    width: 600px;
    height: auto;
}

/*Select*/
.select-wrapper {
    margin: 50px 600px;
}

/*Checkbox jQuery*/
.checkbox-jquery-wrapper {
    margin: 50px 550px;
}

/*Checkbox css*/
.checkbox-css-wrapper {
    margin: 50px 550px;
}

.checkbox-css-wrapper input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.checkbox-css-wrapper label {
    cursor: pointer;
}

.checkbox-css-wrapper label:after {
    content: " ";
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../images/checkbox-2.png);
    position: relative;
    top: 3px;
    margin-left: 15px;
}

.checkbox-css-wrapper input[type=checkbox]:checked + label:after {
    background-position: 0 -17px;
}

.checkbox-css-wrapper label:hover:after {
    background-position: 0 -34px;
}

.checkbox-css-wrapper input[type=checkbox]:checked + label:hover:after {
    background-position: 0 -51px;
}

/*Menu jQuery.color*/
.menu-wrapper {
    height: 1000px;
}

.main-menu {
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: #742365;
    height: 50px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

.main-menu li {
    width: 200px;
    text-align: center;
    line-height: 50px;
}

.main-menu a {
    color: #000;
    text-decoration: none;
}

.sub-menu {
    display: none;
    width: 200px;
    background-color: #85437b;
    list-style: none;
    font-size: 18px;
}

.sub-menu li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #742365;
}

.sub-menu-2,
.sub-menu-3 {
    margin-top: -30px;
    margin-left: 200px;
}






